/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom:10%;
}

.imageBox{
  box-shadow: 5px 5px 10px grey;
}
#mainNav a {
  color:#cc5500;
  padding-top:30px;
}

#userInfo{
  padding-top:30px;
}
#ctr {
  text-align:center;
}
h1 {
  color:#536872;
}
h2 {
  color:#cc5500;
}
h3 {
  color:#383838;
}
h4 {
  color:#cc5500;
}
a {
  color:#536872;
}
#logo {

  float:left;
  height:100px;

}
